@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  --background: #020617;
  --foreground: #f8fafc;
}

@layer base {
  * {
    @apply border-white/5;
  }
  body {
    @apply bg-slate-950 text-slate-50;
    background-image: 
      radial-gradient(at 0% 0%, rgba(255, 77, 0, 0.05) 0px, transparent 50%),
      radial-gradient(at 100% 100%, rgba(37, 99, 235, 0.05) 0px, transparent 50%);
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-white/10 rounded-full hover:bg-white/20 transition-colors;
  }
}
